html {
    position: relative;
    height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
}
.container {
    flex: 1 0 auto;
    width: 100%;
    margin: auto;
    margin-top: 60px;
  }
  
.kalkulator {
    padding:15px;  
    background-color: #a0a0a0;
    border-radius: 5px; 
}

.kalkulator .col-10 {
    height: 60px;
    color: #222222;
    font-size: 40px; 
    text-align: right; 
    background-color: #fff; 
    margin-bottom: 20px; 
}

.kalkulator .col-3 {
    height: 50px;
    text-align: center; 
    font-size: 22px;
}

.kalkulator .col-3 input {
    border: 2px solid #999999; 
    padding: 2px 12px;
    margin: 2px 0px;
    width: 100%;
}

.kalkulator input:active {
    border: 2px solid #888888;
}

.kalkulator .col-6 {
    height: 50px;
    text-align: center; 
    font-size: 22px;
}

.kalkulator .col-6 input {
    border: 2px solid #999999; 
    padding: 2px 12px;
    margin: 2px 0px;
    width: 100%;
}
 @media only screen and (max-width: 768px) {
    .col-3 {
        padding: 0px;
     }
     .col-6 {
        padding: 0px;
     } 
 } 
